@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">  
        <h2>Last opp pdf</h2>
        <p>
            Vi har en pdf (tobesigned.pdf) på rot. Trykk Last opp for å laste den opp til SigniCat...
        </p>
        <p><a class="btn btn-default" href="/Home/Upload">Last opp</a></p>
    </div>
</div>