@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-8">  
        <h2>Last opp pdf-en</h2>
        <p>
            Når vi trykker på denne knappen, leses pdf-en testpage.pdf fra harddisken og lastes opp til SigniCat...
        </p>
        <p><a class="btn btn-default" href="/Home/Upload">Last opp</a></p>
    </div>
    <div class="col-md-4">
        <h2>..</h2>
        <p>..</p>
        <p><a class="btn btn-default" href="..">..</a></p>
    </div>
</div>