
@{
    ViewBag.Title = "Sign";
}

<h2>Sign</h2>

Du kan nå signere dokumentet: <a href="https://preprod.signicat.com/std/docaction/shared?request_id=@Html.Raw( ViewBag.requestId)&task_id=task_1" target="_blank">Sign here</a><br />
Etterpå kan du laste den ned <a href="/Home/DownloadSigned?did=@Html.Raw( ViewBag.requestId)">her.</a><br />
   resultat @ViewBag.result